<header>
   
    <nav class="navbar">
      <div class="navbar-left">
        <a routerLink="/buyerdash"><img src="assets\logo.png" alt="Logo" /></a>
      </div>
      <div class="navbar-center">
        <input type="text" class="search-bar" placeholder="Search...">
      </div>
      
      
      <div class="navbar-right">
        <a routerLink="/cart"><i class="bi bi-cart"></i></a>
        
        <a routerLink="/buyer-dash"><i class="bi bi-person"></i></a>
        
      </div>
    </nav>
  </header>


  <div class="background-image"></div>
  
  <div class="profile-container" *ngIf="currentUser">
    <h2>Edit Profile</h2>
    <!-- <form [formGroup]="profileForm" (ngSubmit)="saveProfile()"> -->
      <!-- <div class="form-group">
        <label for="name">Name:</label><br>
        <input type="text" id="name" formControlName="name" required>
      </div> -->
      <!-- <div class="form-group">
        <label for="email">Email:</label><br>
        <input type="email" id="email" formControlName="email" required>
      </div> -->
      <p>Name: {{ currentUser?.name }}</p>
      <p>Email: {{ currentUser?.email }}</p>
      
      <div class="form-group">
        <label for="phone">Mobile Number:</label><br>
        <input type="tel" id="mobilenumber" [(ngModel)]="currentUser.mobilenumber" name= "mobilenumber" required>
      </div>
      <button class="saveProfile"type="submit">Save</button>
    <!-- </form> -->
  </div>
  

 