<footer class="section-p1">
    <div class="col">
        <img src="../../assets/SHELBY_LOGO.png" class="logo">
        <h4>Contact></h4>
        <p><strong>Address:</strong>562, Wellington Road, Street 32, San Francisco</p>
        <p><strong>Phone:</strong>044-8732 7632/ 044-8673 1709</p>
        <p><strong>Hours:</strong>10.00-18.00,Mon-Sat</p>
        <div class="follow">
            <h4></h4>
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-pinterest-p"></i>
            <i class="fab fa-youtube"></i>
        </div>
    </div>
    <div class="col">
        <h4>About</h4>
        <a routerLink="/">About Us</a>
        <a routerLink="/">Delivery Information</a>
        <a routerLink="/">Privacy & Policy</a>
        <a routerLink="/">Terms and Conditions</a>
        <a routerLink="/">Contact Us</a>
    </div>

    <div class="col">
        <h4>My Account</h4>
        <a routerLink="/">Sign In</a>
        <a routerLink="/">View Cart</a>
        <a routerLink="/">Privacy & Policy</a>
        
        <a routerLink="/">Track My order</a>
        <a routerLink="/">Help</a>
        
    </div>
    <div class="col install">
     <p>Secured Payment Gateways</p>
       <img src="../../assets/pay.png">
    </div>

    <div class="copyright">
        <p>&copy;2024, SHELBY E-Commerce Platform</p>
    </div>
</footer>