<section id="hero">
    <h4>Trade in Offers</h4>
    <h2>Super Value Deals</h2>
    <h1>On All Products</h1>
    <p>Save more with coupons upto 70% Off!</p>
    <button routerLink="/shop">Shop Now</button>
</section>

<section id="feature" class="section-p1">
    <div class="fe-box">
        <img src="../../assets/f1.png">
        <h6>Free Shipping</h6>
    </div>
</section>

<section id="product1" class="section-p1">
    <h2>Featured Products</h2>
    <p>Affordable Summer Collections</p>
    <div class="pro-container">
        <div class="pro">
            <a routerLink="/shirt"><img src="../../assets/f1.jpg"></a>
            <div class="des">
                <span>Trending T-Shirts</span>
                <h5>Top Notch Quality</h5>
            </div>
        </div>
        <div class="pro">
            <a href='/jean'><img src="../../assets/jean.image.jpg"></a>
            <div class="des">
                <span>Trending Jeans</span>
                <h5>Comfortable Wear</h5>
            </div>
        </div>

        <div class="pro">
            <a routerLink="/saree"><img src="../../assets/saree.webp"></a>
            <div class="des">
                <span>Traditional Sarees</span>
                <h5>Top Notch Quality</h5>
            </div>
        </div>
        <div class="pro">
            <a href='/kurthi'><img src="../../assets/kurthi1.avif"></a>
            <div class="des">
                <span>Trending Kurthi</span>
                <h5>Top Notch Quality</h5>
            </div>
        </div>
        <div class="pro">
            <a href='/applephone'><img src="../../assets/iphone1.jpg"></a>
            <div class="des">
                <span>Apple iPhone</span>
                <h5>Best Choice</h5>
            </div>
        </div>
        <div class="pro">
            <a href='/samsung'><img src="../../assets/samsungi.avif"></a>
            <div class="des">
                <span>Samsung Smart Phone</span>
                <h5>Best iin the Market</h5>
            </div>
        </div>
        <div class="pro">
            <a href='/boat'><img src="../../assets/airdopes.webp"></a>
            <div class="'des">
                <span>AIRDOPES</span>
                <h5>BOAT AIRDOPES</h5>
            </div>
        </div>
        <div class="pro">
            <a href='/noise'><img src="../../assets/noise-airdopes.webp"></a>
            <div class="'des">
                <span>AIRDOPES</span>
                <h5>NOISE AIRDOPES</h5>
            </div>
        </div>
    </div>
</section>