<section id="header">
 
  <a href="/"><img src="../../assets/SHELBY_LOGO.png" alt="logo" class="logo"></a>

  <div >
   <ul id="navbar">
       <li><a routerLink="/">Home</a></li>
       <li><a routerLink="/shop">Shop</a></li>
       <li><a routerLink="/blog">Apparel</a></li>

     
       <li><a routerLink="/about">Gadgets</a></li>
       <li><a routerLink="/about">About</a></li>
       <li><a routerLink="/contact">contact</a></li>
   </ul>
  </div>
  
</section>
<div><router-outlet></router-outlet></div>

<app-footer></app-footer>