<section id="header">
 
  <a href="/"><img src="../../assets/SHELBY_LOGO.png" alt="logo" class="logo"></a>

  <div >
   <ul id="navbar">
       <li><a routerLink="/">Home</a></li>
       <li><a routerLink="/shop">Shop</a></li>
       <li><a routerLink="/apparel">Apparel</a></li>

     
       <li><a routerLink="/gadgets">Gadgets</a></li>
       <li><a routerLink="/contact">contact</a></li>
       <li><a routerLink="/cart"><i class="bi bi-cart"></i></a></li>
      <li> <a routerLink="/buyer-dash"><i class="bi bi-person"></i></a></li>
      
   </ul>
  </div>
  
</section>
<div><router-outlet></router-outlet></div>

<app-footer></app-footer>