img{
    height:53px;
    width:auto;
  }
  nav {
    background-color:#031728;
    color: #fff;
    padding: 10px 0;
    margin-bottom: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
  }
  .search-bar {
    display: inline-block;
  }
  
  .search-bar input {
    padding: 5px;
  }
  
  .cart-button{
    background-color: #031728;
    color: #fff;
    border-radius: 5px;
  }
  .navbar-center {
    display: flex;
    align-items: center; /* Vertically center items */
  }
  
  .form-control {
    flex: 1; /* Take remaining space */
    margin-right: 10px; 
    
  }
  .btn-outline-success {
    background-color: white; /* Set background color to white */
    color: black; /* Set text color to black */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Add transition */
}

.btn-outline-success:hover {
  background-color: #9dffd9; /* Change background color on hover */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
  
  .background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqvhjvqJYaqPxAL8eyw1blT26XRIf5T_6S9A&usqp=CAU');
    background-size: cover; 
    filter: blur(5px); 
  }

  .checkout-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .checkout-form h2 {
    margin-top: 0;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
  }
  
  .form-group input[type="text"],
  .form-group input[type="tel"],
  .form-group select,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .form-group textarea {
    resize: vertical;
  }
  
  .expiry-date {
    display: flex;
  }
  
  .expiry-date select {
    flex: 1;
    margin-right: 5px;
  }
  
  .proceed-to-payment-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .proceed-to-payment-button:hover {
    background-color: #0056b3;
  }
  

  